h4{
    color: gray;
}
.heading{
    font-weight: 800;
    font-size: 70px;
    font-family: 'Oswald', sans-serif;
}
.myrow{
    margin-top: 100px!important;
}
.btn-div{
    margin-top: 50px;
}
.question-a{
    color: black;
    margin-left: 50px;
}
.brand-image{
    height: 25px;
}
nav{
    margin: 15px;
}
.ul-m{
    margin-left: 20px;
}.sec-ul{
    margin-left: 180px;
}
.brands-div{
        background-color: #080c13;;
}.brand-h1{
    color: white;
    font-size: 60px;
    font-weight: 800;
    margin-top: 80px;
}
.brands-div1{
    background-color: aliceblue;
    margin: 0px;
}
.btn-info{
    margin-top: 30px;
}
.color{
    padding: 50px;
    letter-spacing: 1px;
}
.d-inl{
    float: left;

}
.sec-img{
    border-radius:70%;
    margin-left: 50px;
    margin: 80px;
}
.brand-h3{
    color: aqua;
}
.mybtn{
    background-color: rgb(14, 201, 176);
}
.brands{
    width: 100%;
}
.p-top{
    font-size: 20px;
    margin:50px;
    color: rgb(90, 87, 87);
}
.align-text{
    text-align: center;
}
.heading2{
    margin: 20px;
}
.sub-head{
    
    font-weight: 400;
    font-size: 50px;
}
.m{
    margin-top: 70px!important;
}
.phone-img{
    height: 500px;
}
.c3-r-d{
    height: 50px;
    background-color: rgb(226, 228, 231);
    border-radius: 4px;
}
.t-m{
    padding: 10px;
}
.c3-r-d2{
    color: white;
    background-color: black;
}
.m2{
    margin: 50px!important;
}
.hr{
    width: 2px;
    height: 300px;
    background-color: red;
    display: none;
}
.lp{
    letter-spacing: 2px;
}
h5 a{
    text-decoration: none;
    color: #080c13;
}